.loginback {
  background: url(../../../../../assets/images/pazzioli.png);
  background-size:40%;
  background-repeat: no-repeat;
  background-position:right;


}



.login-form {
  background: rgba(255, 255, 255, 0.2); 
  box-shadow: 0 0px 82px 130px white !important;
}

.login-text {
  font-size: 30px;
  text-shadow: -1px 1px 100px rgba(0, 0, 0, 0.92), 1px 1px 100px rgba(0, 0, 0, 0.44), 1px -1px 100px rgba(0, 0, 0, 0.71), -1px -1px 100px rgba(0, 0, 0, 0.185);
  color: white;
}