<div class="row">
  <div class="col-12">
      <a mat-raised-button class="custom-button-pedido" routerLink="/admin/pedido">
          <mat-icon>arrow_back</mat-icon>
           volver

        </a>
  </div>
</div>

<div class="row">
<table   cdk-table [dataSource]="data" class="col-12">

   <!-- Name Column -->
   <ng-container cdkColumnDef="codigoBarra">
    <th cdk-header-cell *cdkHeaderCellDef>Codigo</th>
    <td cdk-cell *cdkCellDef="let element"> {{element.codigoBarra}} </td>
  </ng-container>


    <!-- Position Column -->
    <ng-container cdkColumnDef="nombre">
      <th cdk-header-cell *cdkHeaderCellDef>Descripción </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

  
   
    <ng-container cdkColumnDef="cantidad">
        <th cdk-header-cell *cdkHeaderCellDef>Cantidad</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
    
    <!-- Weight Column -->
    <ng-container cdkColumnDef="precio">
      <th cdk-header-cell *cdkHeaderCellDef>Precio</th>
      <td cdk-cell *cdkCellDef="let element"> ${{element.precio.toLocaleString("de-DE")}} </td>
    </ng-container>
  
   
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="col-12">
    <span><b>TOTAL VENTA:</b>${{total.toLocaleString("de-DE")}}</span>
  </div>
</div>
